@import "/home/maurice/.cache/hellwal/waybar-colors.css";

* {
    font-size:15px;
    font-family: "MesloLGM Nerd Font";
}

window#waybar {
    transition-duration: .5s;
    background-color: alpha(@background, 0.7);
}

tooltip {
    background-color: alpha(@background, 0.7);
    color: @text;
}

/** ---------------------
 * Workspaces
 * ----------------------*/
#workspaces {
}

#workspaces button {
    color: @color11;
    transition: all .1s ease;
    border: none;
    box-shadow: none;
}

#workspaces button:hover {
    color: @foreground;
    font-weight: normal;
    border: none;
    transition: all .1s ease;
    background: none;
    box-shadow: none;
}
#workspaces button.active {
    color: @foreground;
}
#workspaces button.empty {
    color: @color2;
    border: none;
}
#workspaces button.empty:hover {
    color: @foreground;
    transition: all .1s ease;
}
#workspaces button.empty.active {
    color: @foreground;
    border: none;
}

/** ---------------------
 * Clock
 * ----------------------*/
#clock{
    color: @color14;
    transition: all .1s ease;
}

#clock:hover {
  transition: all .1s ease;
  color: @color14;
}

#custom-updates {
  font-size: 16px;
  color: @color14;
}

#custom-updates.green {
  color: #a6da95;
}

#custom-updates.yellow {
  color: #eed49f;
}

#custom-updates.red {
  color: #ed8796;
}

/** ---------------------
 * Pulseaudio
 * ----------------------*/
#pulseaudio {
  color: @color14;
}


/** ---------------------
 * Hardware
 * ----------------------*/
#disk,#cpu,#memory,#temperature{
    transition: all .1s ease; 
    color:@color14;
}

/** ---------------------
 * Connections
 * ----------------------*/
#network {
    transition: all .3s ease;
    color:@color14;
}
