@import "macchiato.css";

* {
    font-size:15px;
    font-family: "MesloLGM Nerd Font";
}

window#waybar {
    transition-duration: .5s;
    background-color: alpha(@base, 0.5);
}

tooltip {
    background: alpha(@base, 0.8);
    color: @text;
}

/** ---------------------
 * Workspaces
 * ----------------------*/
#workspaces {
}

#workspaces button {
    color: @text;
    transition: all .1s ease;
    border: none;
    box-shadow: none;
}

#workspaces button:hover {
    color: @pink;
    font-weight: normal;
    border: none;
    transition: all .1s ease;
    background: none;
    box-shadow: none;
}
#workspaces button.active {
    color: @pink;
}
#workspaces button.empty {
    color: @overlay2;
    border: none;
}
#workspaces button.empty:hover {
    color: @pink;
    transition: all .1s ease;
}
#workspaces button.empty.active {
    color: @pink;
    border: none;
}

/** ---------------------
 * Clock
 * ----------------------*/
#clock{
    color: @text;
    transition: all .1s ease;
}

#clock:hover {
  transition: all .1s ease;
  color: @pink;
}

#custom-updates {
  font-size: 16px;
  color: @text;
}

#custom-updates.green {
  color: @green;
}

#custom-updates.yellow {
  color: @yellow;
}

#custom-updates.red {
  color: @red;
}

/** ---------------------
 * Pulseaudio
 * ----------------------*/
#pulseaudio {
  color: @text;
}


/** ---------------------
 * Hardware
 * ----------------------*/
#disk,#cpu,#memory,#temperature{
    transition: all .1s ease; 
    color:@text;
}

/** ---------------------
 * Connections
 * ----------------------*/
#network {
    transition: all .3s ease;
    color:@text;
}
